/* http://iro.herokuapp.com/#/palettes/867235 */

/* colors */
.bg-pink {
	background-color: #E94E77;
}

.bg-pink2 {
	background-color: #D68189;
}

.bg-brown {
	background-color: #C6A49A;
}

.bg-beige {
	background-color: #F4EAD5;
}

.bg-green {
	background-color: #C6E5D9;
}

/* BG imgs */
#bg-bolivia {
	background: url("../images/bolivia3.jpg") center center;
	background-size: cover;
}
#bg-death-valley-dunes {
	background: url("../images/death-valley-dunes.jpg") center center;
	background-size: cover;
}
#bg-flowers {
	background: url("../images/flowers.jpg") center center;
	background-size: cover;
	padding: 173px;
	border-radius: 1%;
	-webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,.25);
	-moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,.25);
	box-shadow: 10px 10px 10px 0px rgba(0,0,0,.25);
}

.p-space {
	margin-bottom: 50px;
}




.display-flex {
	display: flex;
}

.img-50 {
	width: 50%;
}
.img-25 {
	width: 25%;
}


.vcenter {
    padding: 256.5px 0px;
}

.parent {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 500px;
}

.child-left {
    height: 100%;
    position: relative;
    width: 50%;
    float: left;
}

.child-right {
    height: 100%;
    position: relative;
    width: 50%;
    float: left;
} 

.parent > .child-left > h3 {
	position: relative;
	top: 225px;
}
.parent > .child-right > img {
	position: relative;	
}


.feb-img {
	height: 675px;
}

