/* http://iro.herokuapp.com/#/palettes/867235 */

html, body {
    width: 100%;
    height: 100%;
}

section {
	position: relative;
}

/* colors */
.bg-pink {
	background-color: #E94E77;
}

.bg-pink2 {
	background-color: #D68189;
}

.bg-brown {
	background-color: #C6A49A;
}

.bg-beige {
	background-color: #F4EAD5;
}

.bg-green {
	background-color: #C6E5D9;
}

/* BG imgs */
#bg-bolivia {
	background: url("../images/bolivia3.jpg") center center;
	background-size: cover;
}
#bg-death-valley-dunes {
	background: url("../images/death-valley-dunes.png") center center;
	background-size: cover;
}
#bg-flowers {
	background: url("../images/flowers.jpg") center center;
	background-size: cover;
}
#bg-flowers p {
	background-color: rgba(255, 255, 255, 0.5);
}

.p-space {
	margin-bottom: 50px;
}




.display-flex {
	display: flex;
}

.img-50 {
	width: 50%;
}
.img-25 {
	width: 25%;
}


.vcenter {
    padding: 256.5px 0px;
}


.child {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    padding: 50px 20px;
}
#header2 .child:first-child {
	margin-top: 15%; 
}
@media (max-width: 992px) {
	#header2 .child:first-child {
	margin: 15% 0px;
	width: 100%; 
	}
}

#allen-pic {
	margin: 20px auto;
}

/*.parent > .child-left > h3 {
	position: relative;
	top: 225px;
}
.parent > .child-right > img {
	position: relative;	
}*/


.feb-img {
	height: 675px;
}

